@import url('https://fonts.googleapis.com/css?family=Bangers');

body{
  height: 100%; 
	margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("./background.jpg");
}

.controls{
  width: 100%;
  background-color: #000099;
  position: fixed;
  bottom: 0;
  display:flex; 
  flex-direction:row;
  justify-content: center;
  align-content: space-between;
}

.App {
  text-align: center;
}

.table{
  display:flex; 
  flex-direction:row;
}

/* Media queries */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (min-width: 300px) {
	nav{
	  font-family: 'Bangers',cursive;
    font-size: 20px;
    padding-left: 10px;
    color: #FF9900;
    background-color: #000099;
    text-align: center;
  }
  
  button{
    padding: 2px 10px;
    margin: 3px 3px 3px 3px;
    font-family: 'Bangers',cursive;
    font-size: 12px;
    background-color:#FF9900;
    border-radius: 25px;
    font-weight: bold;
  }

  img.card {
    width: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: initial;
    box-sizing: initial;
    -webkit-filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.5));      
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.5));  
  }
  
  .deck-compact { 
    display: inline-block; 
    width: 80%;
    padding: 2%;
  }
  .deck-compact img.card:first-child { 
    margin-left: 0px;
    padding-top: 3px;
  }
  .deck-compact img.card { 
    margin-left: -44px;
    padding-top: 2px;
  }
  .deck-compact.active-hand img.card:hover { 
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .deck-back { 
    display: inline-block; 
    width: 90%;
    padding: 3%;
  }
  .deck-back img.card:first-child { 
    margin-left: 0px;
    padding-top: 3px;
  }
  .deck-back img.card { 
    margin-left: -48px;
    padding-top: 2px;
  }
  .deck-back.active-hand img.card:hover { 
    padding-top: 2px;
    padding-bottom: 5px;
  }
	
}

/* ==== TABLET LAYOUT ==== */
/* 481px to 768px. Inherits styles from mobile layout */

@media only screen and (min-width: 700px) {
	nav{
	  font-size: 50px;
	  padding-left: 20px;
  }
  
  button{
    padding: 5px 15px;
    margin: 5px 5px 5px 5px;
    font-size: 18px;
  }

  img.card {
    width: 75px;
    -webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5));      
    filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5));  
  }
  
  .deck-compact { 
    width: 85%;
    padding: 3%;
  }
  .deck-compact img.card:first-child { 
    padding-top: 4px;
  }
  .deck-compact img.card { 
    margin-left: -62px;
    padding-top: 3px;
  }
  .deck-compact.active-hand img.card:hover { 
    padding-top: 0px;
    padding-bottom: 6px;
  }
  
  .deck-back { 
    display: inline-block; 
    width: 85%;
    padding: 3%;
  }
  .deck-back img.card:first-child { 
    margin-left: 0px;
    padding-top: 4px;
  }
  .deck-back img.card { 
    margin-left: -72px;
    padding-top: 2px;
  }
  .deck-back.active-hand img.card:hover { 
    padding-top: 0px;
    padding-bottom: 5px;
  }
	
	
}

/* ==== DESKTOP LAYOUT ==== */
@media only screen and (min-width: 900px) {
	nav{
    font-size: 70px;
  } 

  button{
    padding: 8px 20px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
  }

  img.card {
    width: 100px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: initial;
    box-sizing: initial;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  
  }
  
  .deck-compact { 
    display: inline-block; 
    width: 80%;
    padding: 5%;
  }
  .deck-compact img.card:first-child { 
    margin-left: 0px;
    padding-top: 5px;
  }
  .deck-compact img.card { 
    margin-left: -60px;
    padding-top: 5px;
  }
  .deck-compact.active-hand img.card:hover { 
    padding-top: 0px;
    padding-bottom: 10px;
  }
  
  .deck-back { 
    display: inline-block; 
    width: 80%;
    padding: 5%;
  }
  .deck-back img.card:first-child { 
    margin-left: 0px;
    padding-top: 5px;
  }
  .deck-back img.card { 
    margin-left: -95px;
    padding-top: 10px;
  }
  .deck-back.active-hand img.card:hover { 
    padding-top: 0px;
    padding-bottom: 10px;
  }
	
}